body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background-bg {
  background-image: url('588609167_1184320346967039_5622367173160775164_n.png');
  background-size: cover;        
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;                
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 60px;
}

.highlight {
  color: pink;
}

a {
  padding: 10px 20px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
